*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    background-color: #8E3F2E;
    color: #F0F3EE;
    text-align:center;
    padding: 10px;
    width: 100vw;
}
#icon{
    background-color: #8E3F2E;
    color: #F0F3EE;
    text-align:center;
    padding: 10px;
    width: 100vw;
    cursor: pointer;
}
#icon:hover{
    background-color: #b16a5b;
}

#menu{
    display: none;
}
#menu a{
    background-color: #EEA686;
    color: #8E3F2E;
    display: block;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    padding: 10px;
    border-top: 2px solid;
    width: 100vw;
}
#menu a:hover{
    background-color: #8E3F2E;
    color: #F0F3EE;
}
#corpo{
    background-color: #e0dddd;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.356);
}
#corpo h2{
    text-align: center;
    margin-bottom: 10px;
    color: #8E3F2E;
}
#corpo p{
    text-indent: 20px;
    text-align: justify;
    margin-bottom: 10px;
}